.button {
  width: 150px;
  font-weight: bold;
  font-size: 20px;
  background-color: white;
  color: #4384ff;
  padding: 10px;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
  border-width: 1px;
  outline: none;
}

.button:hover {
  background-color: #4384ff;
  color: white;
}
