.Home {
  align-self: center;
}

.Welcome-To {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px;
}

.By-Zaki {
  font-weight: bold;
  margin-top: 10px;
  font-size: 15px;
}

.button-container {
  margin-top: 115px;
  flex-direction: row;
}
