.form-container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-button-container {
  margin-top: 7px;
}

.header-text {
  font-weight: bold;
  font-size: 35px;
  color: #4384ff;
}

.action-text {
  font-weight: bold;
  font-size: 15px;
}

.input {
  margin-bottom: 20px;
  font-size: 20px;
  padding: 15px 15px 15px 25px;
  width: 350px;
  justify-content: center;
  border-radius: 30px;
  border-width: 1px;
  outline: none;
}

.input::placeholder {
  font-style: italic;
}
